// src/Login.module.scss
$primary-color: #3498db;
$error-color: #e74c3c;

.loginContainer {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  h2 {
    text-align: center;
    color: $primary-color;
  }

  .formGroup {
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .errorAlert {
    margin-top: 20px;
  }
}
